<section class="page__features-section features-section">
    <div class="features-section__container">
        <ul class="features-section__list">
            <li class="features-section__item">
                <span class="features-section__image _icon-trophy"></span>
                <div class="features-section__content features-content">
                    <h2 class="features-content__title">High Quality</h2>
                    <p class="features-content__text">crafted from top materials</p>
                </div>
            </li>
            <li class="features-section__item">
                <span class="features-section__image _icon-guarantee"></span>
                <div class="features-section__content features-content">
                    <h2 class="features-content__title">Warrany Protection</h2>
                    <p class="features-content__text">Over 2 years</p>
                </div>
            </li>
            <li class="features-section__item">
                <span class="features-section__image _icon-shipping"></span>
                <div class="features-section__content features-content">
                    <h2 class="features-content__title">Free Shipping</h2>
                    <p class="features-content__text">Order over 150 $</p>
                </div>
            </li>
            <li class="features-section__item">
                <span class="features-section__image _icon-customer-support"></span>
                <div class="features-section__content features-content">
                    <h2 class="features-content__title">24 / 7 Support</h2>
                    <p class="features-content__text">Dedicated support</p>
                </div>
            </li>
        </ul>
    </div>
</section>
